:root {
    --display-dimension: 960px;
}

ul.display {
    background-color: aliceblue;
    list-style-type: none;
    padding-inline-start: 0;
    max-width: 960px;
    max-height: 960px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.on {
    background-color: blue;
}