:root {
    --display-dimension: 960px;
    --square-border-width: 1px;
}

ul.display {
    list-style-type: none;
    padding-inline-start: 0;
    max-width: 960px;
    max-height: 960px;
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    border: solid black;
    border-width: var(--square-border-width);
}

.on {
    background-color: blue;
}